{% extends "base.html" %}
{% block content %}
<head>
    <title>Авторизация</title>
</head>
<body>
    {% if user.is_authenticated %}
    <p>С возвращением!</p>
    <form method="post" action="{% url 'phone:logout' %}">
      {% csrf_token %}
      <button type="submit">logout</button>
  </form>
  <form method="post" action="{% url 'phone:update_code' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Обновить</button>
</form>
<h3>Пользователи с таким же инвайт кодом:</h3>
{% if users_with_same_code %}
    <ul>
        {% for other_user in users_with_same_code %}
            <li>{{ other_user.phone }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>Нет пользователей с таким же инвайт кодом.</p>
{% endif %}
  {% else %}
  <p>Вы не вошли:</p>
    <a href="{% url 'phone:login' %}">Войти</a>
  {% endif %}
</body>
</html>
{%endblock%}